on post-fs-data
    mkdir /data/misc/spark 0770 cameraserver audio
    write /data/misc/spark/client_package_name 0
    chown cameraserver audio /data/misc/spark/client_package_name
    chmod 0644 /data/misc/spark/client_package_name
